.GNB {}

.GNB .row {
  align-items: center;
  height: 119px;
}

.GNB .logocontainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

.GNB .logo {
  height: 59px;
}

.GNB ul {
  display: flex;
  gap: 84px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.GNB a {
  text-decoration: none;
  color: #000;
}

.GNB li {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.GNB .contents {
  margin-left: 20px;
}

.GNB .colcontents {
  display: flex;
  align-items: center;
}
